@model UPS.SpaceX.DAL.Giver
@{
                /**/

                ViewBag.Title = "Donate";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="donateMain">

    <h2 id="title">@ViewBag.Title</h2>

    <div class=script-wrap>
        <div id="textFields">

            @using (Html.BeginForm())
            {
                <h4 style="position: relative">
                    Date<br />
                    @*@Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "datepicker" } })*@
                    <input type="date" name="date" id="date" value="" />
                </h4><br />
                <h4>Enter your Desk</h4>
                <input id="OpenDeskList" class="FControl" aria-describedby="emailHelp" placeholder="" type="text" required><br />
                @*<div id="result-check"></div>*@

                <h4>Enter your Email</h4>
                <input id="emailField" class="FControl" aria-describedby="emailHelp" placeholder="" type="email" required><br />
            }

            <link href="~/Content/jquery-ui-1.12.1.min.css" rel="stylesheet" />
            @section scripts{
                <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
                <script src="~/Scripts/actions/donte.js"></script>
                <script src="jQuery.ui.datepicker.js"></script>
                <script src="jquery.ui.datepicker.mobile.js"></script>
                <script>
                    $(document).bind("mobileinit", function () {
                        $.mobile.page.prototype.options.degradeInputs.date = true;
                    });
                </script>

                //$(document).ready(function () {
                //    $('#submit').click(function (e) {
                //        var isValid = true;

                //        $('#OpenDeskList,#emailField').each(function () {
                //            if ($.trim($(this).val()) == '') {
                //                isValid = false;
                //                alert("Please fill out all fields");

                //                $(this).css({
                //                    "border": "1px solid red",
                //                    "background": "#FFCECE"
                //                });

                //                //if ($("#emailField").val().indexOf("@@ups.com") > -1) {
                //                //    alert("hello0");
                //                //}
                //            }
                //            else {
                //                $(this).css({
                //                    "border": "green",
                //                    "background": ""
                //                });
                //            }
                //        });

                //        if (isValid == false) {

                //            e.preventDefault();
                //        } else {
                //            $('#exampleMod').modal();
                //        }


                //    });
                //});
            }
        </div>

        <br />
        <!-- Button trigger modal -->
        <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#exampleModal">
            Back
        </button>
        <button class="btn btn-warning" onclick="ValidationEvent()" type="button" data-toggle="modal" id="submit">Submit</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to go back? Your data will be deleted.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @*<div class="modal-body">

                        </div>*@
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="text-align: center;">No</button>
                        <button type="button" onclick="location.href = 'Index';" class="btn btn-warning" data-dismiss="modal" style="text-align: center;">Yes, I'm sure</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thank you for submitting your desk!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="addDonor(); updateKP(); location.href = 'Index';" class="btn btn-warning" data-dismiss="modal" style="text-align: center;">Close</button>
                    </div>
                </div>
            </div>
        </div>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </div>
</div>




