@model UPS.SpaceX.DAL.Giver
@{
                /**/

                ViewBag.Title = "Donate";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="donateMain">

    <h2 id="title">@ViewBag.Title</h2>

    <div class=script-wrap>
        <div id="textFields">

            @using (Html.BeginForm())
            {
                <br />
                <p>Date : @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "datepicker" } })</p>
                <h4>Enter your Desk</h4>
                <input id="OpenDeskList" class="form-control" aria-describedby="emailHelp" placeholder="" type="text" required><br />
                <h4>Enter your Email</h4>
                <input id="emailField" class="form-control" aria-describedby="emailHelp" placeholder="" type="email" required><br />
            }

            <link href="~/Content/jquery-ui-1.12.1.min.css" rel="stylesheet" />
            @section scripts{
                <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
                <script src="~/Scripts/actions/donte.js"></script>
                <script>
                    $(function () {
                        $(".datepicker").datepicker({
                            dateFormat: "mm/dd/yy",
                            changeMonth: true,
                            changeYear: true,
                            showOn: "both",
                            buttonText: "Select"
                        });
                    });
                </script>
            }
        </div>

        <br />
        <!-- Button trigger modal -->
        <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#exampleModal">
            Back
        </button>
        <button class="btn btn-warning" onclick="addDonor(); updateKP(); myFunction();" type="button" data-toggle="modal" data-target="#exampleMod">Submit</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to go back? Your data will be deleted.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @*<div class="modal-body">

                        </div>*@
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="text-align: center;">No</button>
                        <button type="button" onclick="location.href = 'Index';" class="btn btn-warning" data-dismiss="modal" style="text-align: center;">Yes, I'm sure</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thank you for submitting your desk!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="location.href = 'Index';" class="btn btn-warning" data-dismiss="modal" style="text-align: center;">Close</button>
                    </div>
                </div>
            </div>
        </div>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </div>
</div>




