@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/homepage.cshtml";
}

<div id="DivAvailableDesks">

</div>

<p style="font-size:100px;text-align:center;color:white">
    Open Desk</p>

    <script src="~/Scripts/actions/desks.js"></script>
