@model  UPS.SpaceX.DAL.Giver
@{
    /**/

    ViewBag.Title = "Reserve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="centerText">Reserve</h2><br />

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/actions/reserve.js"></script>>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                buttonText: "Select"
            });
        });

        // Make table row selectable
        $(document).click(function () {
            $("tbody tr").click(function () {
                $('.selected').removeClass('selected');
                $(this).addClass("selected");
            });
        });
    </script>

    @* Changes table row color to gold if it's selected*@
    <style>
        .selected {
            background-color: lightgrey;
        }
    </style>

}
<div id="centerDate">
    @using (Html.BeginForm())
    {
        <h4 style="position: relative">Date<br />@Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "datepicker" } })</h4><br />
        <button type="button" onclick="showData()" class="btn btn-warning">SHOW DESKS</button>
        <br />
    }
</div>
<br />
<link href="~/Content/jquery-ui-1.12.1.min.css" rel="stylesheet" />

<div id="DivAvailableDesks"></div>
<br />

<div class="form-group">
    <h4 id="centerBtn" for="exampleInputEmail1">ENTER YOUR EMAIL</h4>
    <input class="FControl" id="emailField" aria-describedby="emailHelp" placeholder="" type="email">
    <small id="centerBtn" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>

<div id="centerBtn">
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Back</button>
    <button class="btn btn-warning" onclick="Reserve(); updateFlag();" type="button" data-toggle="modal" data-target="#exampleMod">
        Proceed
    </button>

    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to go back? Your data will be deleted.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @*<div class="modal-body">

                    </div>*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="text-align: center;">No</button>
                    <button type="button" onclick="location.href = 'Index';" class="btn btn-warning" data-dismiss="modal" style="text-align: center;">Yes, I'm sure</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thank you for submitting your desk!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="location.href = 'Index';" class="btn btn-warning" data-dismiss="modal" style="text-align: center;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



