<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="Index">Open Desk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">

            <li>@Html.ActionLink("Donate Your Desk", "Donate", "Home", new { @class = "someClass" })</li>
            <li>@Html.ActionLink("Reserve a Desk", "Reserve", "Home", new { @class = "someClass" })</li>
            <li>@Html.ActionLink("Current Reservations", "LookUp", "Home", new { @class = "someClass" })</li>
            <li>@Html.ActionLink("Floor Map", "FloorMap", "Home", new { @class = "someClass" })</li>

            @*<li class="nav-item">
            <a class="nav-link" href="Donate.cshtml">Donate Your Desk</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reserve a Desk</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Floor Maps</a>
        </li>*@
        </ul>
    </div>
</nav>
