#don_btn {
    position: relative;
    display: block;
    background-color: gold;
    border-radius: 25px;
    border: none;
    width: 100px;
    height: 40px;
    left: 0%;
    margin-bottom: 25px;
    display: inline-block;
}

.script-wrap {
    width: 100%;
    position: relative;
    text-align: center;
}

#textFields {
    position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#date {
    position: relative;
}

#emailFiel {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#title {
    position: relative;
    text-align: center;
}

#emailF {
    position: relative;
    left: 38%;
    width: 60%;
}