#b1 {
    background-color: black;
}

#b2 {
    position: relative;
    display: block;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

/*#btn1{
    background-color: blue;
}*/

.center {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

#centerDate {
    position: relative;
    text-align: center;
    left: 25%;
    width: 50%;
}

.centerText {
    text-align: center;
}

#centerBtn {
    position: relative;
    text-align: center;
}

#myImg {
    position: relative;
    text-align: center;
    width: 75%;
    left: 12.5%;
}

#myImg2 {
    position: relative;
    text-align: center;
    width: 75%;
    left: 12.5%;
}

.centerStuff {
    position: relative;
    text-align: center;
    width: 100%;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: white;
    margin-top: 20px;
}

.FControl {
    display: block;
    width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0.75rem 2rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #55595c;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    border-radius: 0;
    text-align: center;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.active{
    color: blue;
}

#HomeNav {
    position: relative;
    text-align: center;
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}